
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    border-radius: .5rem;
    appearance: none;
    padding: 1rem;
    /* min-width: 15rem; */
    min-width: 14rem;
    font-size: 1.4rem;
}

.primary{
    background-color: var(--primary-color);
    color: #fff;
}

.secondary{
    color: #fff;
    background-color: #333;
    border: 1px solid rgba(0, 0, 0, .1);
}

.cancel{
    color: #333;
    background-color: rgba(0, 0, 0, .1);
}

.third{
    color: #333;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
}