.properties{
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
 gap: 2rem;
}

.image{
 border-radius: .5rem;
 overflow: hidden;
 height: 20rem;
 margin-bottom: 1rem;
}

.price{
 font-weight: 600;
 color: rgba(0, 0, 0, .8);
 font-size: 2.2rem;
}

.list{
 display: flex;
 align-items: center;
 font-size: 1.2rem;
 gap: 1rem;
}

.title{
 margin-top: 1rem;
 font-size: 1.4rem;
 margin-bottom: .5rem;
}

.title strong{
 font-weight: 600;
}
