.container{
    background-color: #fff;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 4rem;
    padding-block: .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.header h3{
    font-weight: 600;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: .7rem;
}
.buttons{
    display: flex;
    gap: 2rem;
}

.buttons button{
    width: 2rem;
    min-width: 6rem;
}

.options{
    border-right: 1px solid rgba(0, 0, 0, .1);
    width: 25rem;
    padding-left: 4rem;
    height: 91vh;
    padding-top: 2rem;   
}

.options ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.options ul li{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.options ul li button{
    font-weight: 500;
    background-color: transparent;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, .7);
}

.main{
    display: grid;
    grid-template-columns: 30rem 1fr;
}

.main h3{
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.main .subtitle{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 3rem;
}

.col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.divider{
    margin-top: 2rem;
}

.content{
    width: min(1200px, 90%);
    margin-inline: auto;
}