*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

html{
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}  

body{
  font-size: 1.6rem;
  font-family: var(--font);
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  background-color: #fff;
}


table {
  border-collapse: collapse;
}

img,
picture{
    max-width: 100%;
    display: block;
}

ol, ul, menu {
  list-style: none;
}

input,
 textarea,
 select,
 optgroup {
    all: revert;
    outline: none;
    border: none;
    font-family: inherit;
    line-height: 1.15;
    width: 100%;
    min-height: 3rem;
    border-radius: .5rem;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

textarea {
  white-space: revert;
}

input, textarea {
  -webkit-user-select: auto;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button{
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

section{
  width: min(1200px, 90%);
  margin-inline: auto;
}

@media (prefers-reduced-motion: reduce){
  html:focus-within {
      scroll-behavior: auto;
     }

  *,
  *::before,
  *::after{
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

.main{
  width: min(1200px, 90%);
  margin-inline: auto;
  height: 75vh;
  padding-bottom: 25rem;
  display: grid;
  place-items: center;
}

.main > div{
  display: grid;
}

.main h1{
  text-align: center;
  font-size: calc(1.375rem + (1vw - 3.75px) * 1.6901);
  line-height: calc(2rem + (1vw - 3.75px) * 2.2535);
  font-weight: 700;
  margin: 0px 0px 1.5rem;
}

.main p{
  max-width: 80rem;
  text-align: center;
  margin-bottom: 2.3rem;
  line-height: 1.8;
}

.main button{
  background-color: #4C60FC;
  padding: .8rem 1rem;
  border-radius: .5rem;
  color: #f2f2f2;
  font-size: 1.4rem;
  width:  100%;
  max-width: 20rem;
  text-align: center;
  height: 3rem;
}

.main button:last-child{
  background: #8A2BE2
}

.main-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.main-footer > div{
  display: flex;
  align-items: center;
  gap: 2rem;
  
}

.main-footer > div p{
  color: rgba(0, 0, 0, .5);
  font-size: 1.4rem;
}

.main-footer > div h3{
  font-size: 2rem;
  font-weight: 500;
}

.courses{
  width: min(90%, 1200px);
  margin-inline: auto;
  padding-top: 6rem;
  text-align: center;
  padding-block: 12rem;
}

.courses h2{
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}


.courses p{
  font-size: 1.4rem;
  color: rgba(0, 0, 0, .5);
  margin-bottom: 5rem;
}

.courses > div{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.courses .box{
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: .5rem;
  padding: 2rem;
  height: 32rem;
  transition-duration: .5s;
  background-color: #fff;
}

.courses .box:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.courses .box h3{
  margin-top: 1rem;
  font-weight: 500;
}


.courses .box p{
  margin-top: 2rem;
  line-height: 1.5;
}

.newsletter{
  width: min(1200px, 90%);
  margin-inline: auto;
  text-align: center;
  padding-bottom: 5rem;
}

.newsletter h2{
  font-weight: 600;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.field{
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: .5rem;
  display: flex;
  overflow: hidden;
  max-width: 50rem;
  margin-inline: auto;
}

.field input{
  height: 100%;
  padding: .5rem 1rem;
}

.field button{
  background-color: #4C60FC;
  padding: .5rem 2rem;
  color: #f2f2f2;
  font-size: 1.4rem;
}

.scroll-indicator {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.6rem;
  color: #666;
}

.scroll-indicator i {
  font-size: 3.5rem;
  color: #4C60FC;
  animation: scroll 2s infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.info-section {
  padding-bottom: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 2rem;
}
.info-section > div > h3{
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.6rem;
}

.info-section > div > h2{
  font-size: 2.2rem;
  font-weight: 500;
  margin-block: .6rem;
  max-width: 20rem;
}

.info-section > div > p{
  font-size: 1.4rem;
  max-width: 40rem;
  color: #666;
}

.info-section > div > button{
  background-color: #4C60FC;
  padding: .8rem 1rem;
  border-radius: .5rem;
  color: #f2f2f2;
  font-size: 1.4rem;
  width: 15rem;
  text-align: center;
  height: 2rem;
  margin-top: 2rem;
}

/* .info-section > div{
  width: 100%;
} */

.info-section > .boxs{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
  width: 100%;
}


.info-section  .box{
  background-color: #ffffff;
  /* border: 1px solid rgba(0, 0, 0, .1); */
  padding: 1rem;
  border-radius: .5rem;
  /* width: 20rem; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

@media screen and (max-width: 750px) {
  .info-section {
    padding-bottom: 15rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
  }
}

.newsletter h2{
  font-weight: 500;
  font-size: clamp(3rem, 5rem, 4.5rem);
  line-height: 1;
  text-align: center;
  max-width: 80rem;
  margin-inline: auto;
  margin-top: 1rem;
}


.newsletter button{
  background-color: #4C60FC;
  padding: .8rem 1rem;
  border-radius: .5rem;
  color: #f2f2f2;
  font-size: 1.4rem;
  width:  100%;
  max-width: 20rem;
  text-align: center;
  height: 2rem;
}

.newsletter button:last-child{
  background: #8A2BE2
}

.newsletter{
  padding-bottom: 10rem;
}

.top{
  background: linear-gradient(rgba(238, 240, 249, 0) 0%, rgb(238, 240, 249) 100%);
  margin-bottom: 5rem;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  max-height: 80vh;
}

.messages-container {
  overflow-y: scroll;
  flex-grow: 1;
  padding: 20px;
  flex-direction: column-reverse;
}

.message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.message {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
}

.message.user {
  background-color: #4C60FC;
  color: #fff;
}

.message.assistant {
  
}

.message-container.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.message-input {
  flex-grow: 1;
  margin-right: 10px;
  border-radius: .5rem;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
}

.send-button {
  background-color: #0078ff;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.send-button:hover {
  background-color: #005ad1;
}

.container-demo{
  width: min(1200px, 100%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 80vh;
  border-radius: .5rem;
  overflow: hidden;
}

.aside-demo{
  background-color: #f2f2f2;
  padding: 2rem;
}

.aside-demo h2{
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.8rem;
}

input{
  height: 4rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.typing-indicator {
  display: flex;
  align-items: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #666;
  border-radius: 50%;
  margin-right: 5px;
  animation-name: typing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes typing {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
