:root{
 --font:'Inter', sans-serif;;
 --primary-color: #15A1B8;
 --bg-main: #F1F3F6;
 --bg-second: #fff;
 --color: #1E1E1E;
 --secondary-color: #344563;
 --medium-color: rgba(255, 255, 255, 0.35);
 --shadow: rgba(17, 24, 39, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.app-dark{
 --bg-second: #1E1E1E;
 --bg-main: #121212;
 --white-color: #f2f6fa;
 --medium-color: rgba(0, 0, 0, 0.2);
}