.footer{
 display: flex;
 flex-direction: column;
 background-color: #0C0F24;
}

.container{
 width: min(90%, 1200px);
 margin-inline: auto; 
 padding-block: 2rem;
}

.logo{
 font-size: 1.4rem;
}

.header nav{
 display: flex;
 gap: 2rem;
 font-size: 1.4rem;
}

.social{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: 2rem;
}

.social h2{
 color: #f2f2f2;
 font-size: 1.4rem;
}

.social .networks{
 display: flex;
 gap: 2rem;
 align-items: center;
 font-size: 2rem;
}

.social .networks i{
 display: inline-block;
 font-size: 2.5rem;
 color: #f2f2f2;
}


.footer .float a{
 font-size: 1.2rem;
 font-weight: 300;
 margin-left: 1rem;
 color: rgba(255, 255, 255, .8);
}

.footer .float > a{
 display: block;
 background-color: rgba(255, 255, 255, .1);
 padding: 1rem;
 border-radius: 5rem;
 color: #fff;
 font-weight: 600;
 font-size: 1.4rem;
 display: flex;
 align-items: center;
 gap: .5rem;
 position: fixed;
 right: 2rem;
 bottom: 2rem;
 background-color: #25D366;
 font-size: 4rem;
 box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.legal{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 5rem;
 padding-block: 2rem;
 color: #fff;
 padding-bottom: 0;
}

.legal select{
 width: 10rem;
 height: 4rem;
 border: 1px solid #fff;
 background-color: transparent;
 color: #fff;
 padding: 1rem;
}

.legal .options{
 display: flex;
 align-items: flex-end;
 gap: 2rem;
 font-size: 1.4rem;
 font-weight: 300;
}

.nav{
 color: #fff;
 display: flex;
 gap: 8rem;
}

.nav ul li{
 font-weight: 300;
 font-size: 1.4rem;
 margin-bottom: 1.5rem;
 max-width: 25rem;
}

.nav ul li button{
 background-color: transparent;
 color: #fff;
 font-size: 1.4rem;
}

.nav .title{
 margin-bottom: 3rem;
 font-weight: 600;
 font-size: 1.6rem;
}

@media screen and (max-width:768px){
 /* .footer{
  display: none;
 } */
 
 .nav{
  flex-direction: column;
  gap: 4rem;
 }
 
 .legal{
  margin-top: 8rem;
  padding-bottom: 9rem;
 }
 .legal .options{
  flex-direction: column;
  align-items: flex-start;
 }
 .container{
  overflow: hidden;
 }

}