.elements{
 padding: 4rem;
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
 gap: 2rem;
}

.card{
 background-color: #fff;
 min-height: 4rem;
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 10rem;
 border-radius: .5rem;
 color: var(--primary-color);
 font-weight: 600;
<<<<<<< HEAD
 box-shadow: var(--shadow);
=======
>>>>>>> 3a2f2097101c63c4b3e12a7ddaf38509b021bf31
}